.main-content {
  padding-top: .5rem;
  min-height: 75vh;
  /* background: linear-gradient(315deg, transparent 85%, var(--gradient-light-opac) 0)-10px 0,
              linear-gradient(45deg, transparent 75%, var(--gradient-light-opac) 0)-10px 0,
              linear-gradient(135deg, var(--gradient-medium-opac) 50%, transparent 0) 0 0,
              linear-gradient(45deg, var(--gradient-darker-opac) 50%, var(--gradient-dark-opac) 0) 0 0 var(--gradient-dark-opac);
  background-size: 20px 20px; */

}
