:root {
  --gradient-light: rgb(254,213,24);
  --gradient-dark: rgb(209, 107, 205);
  --gradient-medium: rgb(254, 176, 98);
  --gradient-darker: rgb(255, 139, 177);
  --gradient-light-opac: rgba(254,213,24, 0.3);
  --gradient-dark-opac: rgba(209, 107, 205, 0.3);
  --gradient-medium-opac: rgba(254, 176, 98, 0.3);
  --gradient-darker-opac: rgba(255, 139, 177, 0.3);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(70deg, var(--gradient-light-opac) 0%, var(--gradient-dark-opac) 70%);
  min-height: 100vh;
  background-repeat: no-repeat;
  /* color: white; */
}
a {
  /* color: white; */
  text-decoration: none;
}
button, a {
  cursor: pointer;
}
